.my-form {
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  margin-top: 5px;
}
